{% extends 'base.html' %}

{% block title %} Employees {% endblock %}
{% block content %}
<h2>Employees</h2>

<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Department</th>
        <th>Role</th>
        <th>Supervisor</th>
    </thead>
    <tbody>
        {% for empl in employee_dt %}
        <tr> 
            <td>{{ empl.fname }} {{ empl.lname }}</td>
            <td>{{ empl.employeeid }}</td>
            <td>{{ empl.format_addr|safe }}</td>
            <td>{{ empl.format_phone }}</td>
            <td>{{ empl.email }}</td> 
            <td>{{ empl.department }}</td>
            <td>{{ empl.role.role_name }}</td>
            <td>{{ empl.supervisor_id.fname }} {{ empl.supervisor_id.lname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}